#section-search-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;

    backdrop-filter: saturate(150%) blur(8px) opacity(100%);
    /* background-color: var(--accent-color); */
}

#city {
    width: min(250px, calc(100% - 3rem));
}

#search-history button {
    background-color: var(--secondary-color);
    margin: 10px;
}

main {
    margin-top: calc(160px + 20px);
}

main section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#current-weather {
    text-align: center;
}

#current-weather-icon {
    width: min(50vw, 200px);
    /* height: 100px; */
}

.weather-card {
    /* background-color: #1cc4d4; */
    backdrop-filter: saturate(200%) opacity(50%);
    border-radius: var(--border-radius);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.36);
}

.forecast span {
    display: inline-block;
}

.forecast-icon {
    /* width: 50px; */
    height: 40px;
}

.forecast-icon,
.forecast .material-symbols-outlined {
    margin-right: 5px;
}

@media screen and (min-width: 330px) {
    .logo {
        display: inline-block !important;
    }

    .logo-top-anchor {
        margin-top: 0px !important;
    }

    .logo-top {
        display: none !important;
    }

    main {
        margin-top: calc(108px + 20px);
    }
}

@media screen and (min-width: 576px) {
    #section-search-bar .d-flex {
        justify-content: start !important;
    }
}

@media screen and (min-width: 992px) {
    #section-weather {
        width: 50%;
    }
}

