:root {
    --text-color: #0a181a;
    --primary-color: #79c4cd;
    /* --primary-color: rgb(48, 111, 199); */
    --secondary-color: #ffffff;
    --accent-color: rgb(62, 133, 266); /*#83afe5;*/
    --background-color: #ecf7f8;
    --yellow-color: #ffd932;
    --border-radius: 5px;
}

* {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
}

body {
    color: var(--secondary-color);
    background: linear-gradient(var(--accent-color), var(--primary-color));
    background-repeat: no-repeat;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.hidden {
    display: none !important;
}

#section-search-bar .logo,
#section-search-bar .logo-top {
    height: 40px;
}

#city {
    margin-right: 0.75rem;
    border: none;
    border-radius: var(--border-radius);
}

button,
input[type="submit"] {
    display: inline;
    background-color: transparent;
    border: none;
    border-radius: var(--border-radius);
}

input[type="submit"] {
    background-image: url("../images/search-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 24px;
}

#section-search-bar .d-flex {
    justify-content: center;
    align-items: center;
}

#form-search-bar {
    display: inline-block;
}

#search-history {
    /* height: 100px; */
    overflow: auto;
    white-space: nowrap;
}

#search-history button {
    display: inline-block;
}

#section-city-choice {
    height: 100vh;
}

.city-link {
    cursor: pointer;
    text-decoration: underline;
}

#section-loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-loading p {
    font-size: 200%;
}

#section-loading img {
    height: 4rem;
}

.citation-link {
    font-size: 50%;
    text-decoration: none;
    color: var(--text-color);
}

footer a {
    color: var(--secondary-color);
}